.feature {
  background-color: $bg-third;
  padding-bottom: 60px;
  &-mg {
    margin: 0 -10px;
  }
  &-element {
    padding: 20px 10px;
  }
  &-item {
    background-color: $text-color;
    border: 1px solid $colortextlight;
    border-radius: 10px;
    padding: 40px;
    &-icon {
      width: 60px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    &-desc {
      &-title {
      }
      &-subtitle {
        color: $colortextlight;
      }
    }
  }
}

@include small {
  .feature {
    &-item {
      padding: 16px;
      display: flex;
      align-items: center;
    }
  }
}
