footer {
  .footer-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    @include small {
      flex-direction: column;
    }
    .nav-footer {
      display: flex;
      margin: 0;

      @include small {
        flex-wrap: wrap;
        padding-bottom: 20px;
      }
      &-item {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 1px;
        padding-right: 60px;
        &:hover {
          text-decoration: underline;
        }
        @include small {
          padding-right: 40px;
          padding-bottom: 6px;
        }
        a {
          color: $colortag;
        }
      }
    }
    .copyright {
      margin: 0;
      font-size: 14px;
    }
  }
}
