$bg-button: #3f54ff;
$bg-primary: #000c6f;
$bg-second: #29384a;
$text-color: white;
$bg-third: #f5f6fa;
$colortag: #816bff;
$colortextlight: #8094ae;
$highlight: #ff63a5;
$purple: #5638ff;
$bg-blue: #559bfb;
$bg-green: #1ee0ac;
$indigo: #2c3782;
$purple: #816bff;
$pink: #ff63a5;
$red: #e85347;
$orange: #ffa353;
$yellow: #f4bd0e;
* {
  font-family: "Roboto", sans-serif;
}
